<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marioparrillamaroto.myeventsapp" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_myeventsapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_myeventsapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEventsApp"
        android:usesCleartextTraffic="true" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDWUhiLt-GZfJ70TqNHkY-QKmAyV9iTrKg" />

        <activity
            android:name=".ui.popUpEventos.PopUpMostrarUbicacion"
            android:exported="false"
            android:label="Ubicacion"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe"/>
        <activity
            android:name=".ui.popUpEventos.PopUpModificarEventoMeeting"
            android:exported="false"
            android:label="Modificar Evento Meeting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".ui.popUpEventos.PopUpModificarEventoPresencial"
            android:exported="false"
            android:label="Modificar Evento Presencial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".ui.popUpEventos.PopUpCitarEventoMeeting"
            android:exported="false"
            android:label="Citar Evento"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".ui.popUpEventos.PopUpCitarEventoPresencial"
            android:exported="false"
            android:label="Citar Evento"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".ui.ExternalProfile.ExternalProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".ui.popUpEventos.PopUpInfoEventoMeeting"
            android:exported="false"
            android:label="Info Evento"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".ui.popUpEventos.PopUpInfoEventoPresencial"
            android:exported="false"
            android:label="Info Evento"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".MyEventAppActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.popUpEventos.PopUpCrearEventoPresencial"
            android:exported="false"
            android:label="Añadir Evento Presencial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".ui.popUpEventos.PopUpCrearEventoMeeting"
            android:exported="false"
            android:label="Añadir Evento Meeting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyEventsApp.PopMe" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>